body {
    margin: 0 auto;
    width:  90%;
}

a {
    text-decoration: none;
}

header h1 {
    background: #36454f;
    color:      lightblue;
    float:   left;
    font-family: 'Ruslan Display', cursive;
    font-size: 25px;
    height:  25px;
    padding: 10px;
    width:   100%;
}

img {
    float: left;
    width: 50%;
    margin: 10px 10px 10px 0px;
}

main p {
    float: right;
    width: 50%;
}

.legitimizers {
    float: right;
    width: 25%;
}

.intimacy {
    float: left;
    width: 100%;
}