#top-page {
    background: red;
    height    : 1000px;
    width     : 100%;
}

#middle-page {
    background: blue;
    height    : 1000px;
    width     : 100%;
}

#bottom-page {
    background: green;
    height    : 1000px;
    width     : 100%;
}